@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&display=swap');
.bgc{
        background-color:cadetblue;
}
.in{
        font-size: 20px;
        margin-top: 30px; 
        padding-top: 40px; 
    }
    .cd:hover{
        transform: scale(1.06);
        transition: all 1s;
    }
    .cd1:hover{
        transform: scale(1.06);
        transition: all 1s;
    }
    .cd2:hover{
        transform: scale(1.06);
        transition: all 1s;
    }
    .cd3:hover{
        transform: scale(1.06);
        transition: all 1s;
    }
    .rw{
        display: flex;
        gap:20px;
    }
    .it{
        font-size: 20px;
        margin-top: 30px;
        padding-bottom: 40px; 
    }
    .ef:hover{
        transform: scale(1.06);
        transition: all 1s;
    }
    .ef1:hover{
        transform: scale(1.06);
        transition: all 1s;
    }
    .ef2:hover{
        transform: scale(1.06);
        transition: all 1s;
    }
    .ef3:hover{
        transform: scale(1.06);
        transition: all 1s;
    }
    .one{
        color:blue;
        font-weight: bold;
        text-decoration: underline;
    }
.two{
    color:darkslateblue;
    font-family: "Edu VIC WA NT Beginner", cursive;
}
.thr{
    color:indigo;
}
.num{
    background-color: bisque;
}

   

    
  