.sweet{
        color:white;
        text-align: left;
        padding-left: 20px;
        font-family: 'Times New Roman', Times, serif;
        font-size:40px;

    }
.pot{
        margin-left:60px;
    }
.qq{
    background-image: url("../images/cap1.jpg");
    height:300px;
    width:350px;
   margin-bottom: 50px;
}
.gh{
    margin-top: 180px;
    opacity:0.9;
    background-color:white;
    margin-left: 50px;
    }
.qq:hover{
    transform: scale(1.06);
    transition: all 3s;
}
.aa{
    background-image: url("../images/cap2.jpg");
    height:300px;
    width:350px;
    margin-left: 50px;
}
.jk{
    margin-top: 180px;
    opacity:0.9;
    background-color:white;
    margin-left: 30px;
}
.aa:hover{
    transform: scale(1.06);
    transition: all 3s;
}
.zz{
    background-image: url("../images/cap3.jpg");
    height:300px;
    width:350px; 
    margin-left: 50px;
}
.kl{

    margin-top: 180px;
    opacity:0.9;
    background-color:white;
    margin-left: 30px;
}
.zz:hover{
    transform: scale(1.06);
    transition: all 3s;
}